@charset "UTF-8"; 

// Reset
@import "vendor/normalize";

// Helpers and Variables
@import "helpers/mixins";
@import "helpers/variables";
@import "helpers/typography";
@import "helpers/grid";

// Vendor
@import "vendor/prism";

// Components
@import "components/base";
@import "components/header";
@import "components/footer";

// Pages
@import "pages/home";