// SVG Icons

.icon-github {
  width: 200px;
  fill: $brand-main;
}

.icon-gruntjs {
  height: 200px;
}

.icon-twitter {
  fill: $red;
  width: 200px;
}

.icon-bars {
  width: 150px;
  fill: $brand-main;
}